<div class="searchFormContainer col pt-1 {{ mobileMode ? 'd-lg-none' : 'd-none d-lg-block' }}" data-preview-url="{{ path('gally_search_result_preview_ajax') }}">
    {{ form_start(searchForm) }}
    <div class="input-group mb-2 mt-2 mt-lg-0 mb-lg-1 px-2 px-lg-0">
        {{ form_widget(searchForm.query) }}
        <button type="submit" id="search" class="btn btn-outline-secondary btn-sm collapsed" data-bs-toggle="collapse" data-bs-target="#collapsedSearchResults" aria-expanded="false" aria-controls="collapsedSearchResults">
            {{ ux_icon('tabler:search') }}
        </button>
    </div>
    {{ form_end(searchForm) }}
    <div class="position-absolute d-flex justify-content-center" style="z-index: 10000">
        <div class="card collapsedSearchResults collapse mx-2 mx-lg-0 p-3" style="max-width: 930px">
            <div class="loading-results text-center d-none">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <div class="results">
            </div>
        </div>
    </div>
</div>
